@font-face {
  font-family: "manuscrita";
  src: url(../fuentes/manuscrita.ttf) format("truetype");
}


header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.733);
  flex-wrap: wrap;

}


.redesimg {
  background-color: rgb(97, 97, 97);
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding: 0.3%;
}

.redesimg img {
  width: 40px;
  margin: 5px;
}

h1 {
  display: flex;
  align-self: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-size: 300%;
  font-family: 'Amaranth', sans-serif;
}

.imagenbandera {
  width: 160px;
  padding: 2%;
}

main {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;

}


h2 {
  color: coral;
  text-decoration: underline;
  font-size: 2rem;
  margin-left: 5vw;
  font-family: "manuscrita";
}

.imagenportada {
  display: flex;
  justify-content: center;

}

.imagenportada img {
  max-width: 35%;
  border-radius: 20%;
  border-style: groove;
  border-color: black;
  padding: 0.5%;

}


.imagenportadamedia {
  display: flex;
  justify-content: center;

}

.imagenportadamedia img {
  max-width: 80%;
  border-radius: 10%;
  border-style: groove;
  border-color: rgb(255, 255, 255);
  padding: 0.5%;
  margin-top: -8%;

}


.imageninstrucciones img {
  max-width: 50%;
  border-radius: 10%;
  border-style: double;
  margin-left: 3vw;
  margin-bottom: 3%;
}

.imageninstrucciones {
  border-bottom: solid 1px #7c8081;
}

.maps {
  padding: 0.4%;
  display: flex;
  align-self: center;
}

h3 {
  text-align: center;
  font-size: 120%;
  text-decoration: underline;
  font-family: 'Amaranth', sans-serif;
  font-style: italic;
}



.lista1 {
  font-weight: bold;
  font-size: 100%;
  margin-left: 3vw;
  margin-right: 3vw;
  border-bottom: solid 1px #7c8081;
}

.lista2 {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 100%;
  margin-left: 3vw;
  margin-right: 3vw;
}


.parrafohistoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(88, 88, 88, 0.473);
  font-family: 'Amaranth', sans-serif;
  border-radius: 5%;
  text-align: center;
  font-size: 95%;
  padding: 1%;
}

.parrafomusica p {
  font-family: "manuscrita";
  font-size: 120%;
  text-align: center;
  margin: 3vw;

}

.parrafomusica {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.videos p {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
  border-bottom: solid 1px #7c8081;
  padding-bottom: 5%;
}

.videoaside {
  width: 78%;
  height: 30%;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videomusicajazz {
  width: 73%;
  height: 30%;
}


.acompañar {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #7c8081;
  border-top: solid 1px #7c8081;
  margin-top: 5%;
  margin-bottom: 5%;
}

.acompañar a {
  font-size: 120%;
  text-align: center;
}

.acompañar p {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;

}


.row {
  display: flex;
  background-color: hwb(64 0% 0% / 0.719);
  border-radius: 3%;
  padding: 0.5%;
  text-align: center;
}

.card {
background-color: rgb(196, 196, 196);
margin-bottom: 2%;
margin-top: 2%;
}

.enlaces img {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border-radius: 20%;
}

.redesimg img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.parrafohistoria:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.logowppfix img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a:link {
  color: rgb(47, 0, 255);
  text-decoration: none;
}

a:visited {
  color: mediumvioletred;
}

a:active {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: black;
}


.logowppfix img {
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 80%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.733);
}

.datosweb {
  display: flex;
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 150%;
}



@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  .aside {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-style: inset;
    border-color: rgb(190, 190, 190);
    border-radius: 10%;
    padding: 2%;
  }

  header h1 {
    text-align: center;
  }

  .imagenportada {
    display: none;
  }


  main {
    display: flex;
    flex-direction: column;
  }


}


@media (min-width: 768px) {

  .imagenportadamedia {
    display: none;
  }

}