body {
    background-color: wheat;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.733);
    flex-wrap: wrap;
    
}

.redesimg {
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 0.3%;
} 

.redesimg img {
    width: 40px;
    margin: 5px;
}

h1 {
    display: flex;
    align-self: center;
    color: rgb(255, 255, 255); 
    text-decoration: underline; 
    font-size: 200%;
 }

.imagenbandera {
    width: 130px;
    padding: 2%;
 }

h2 {
    color: coral;
    text-decoration: underline; 
    font-size: 150%;
 }

.imagenportada {
    display: flex;
    justify-content: center;
}

.imagenportada img { 

    width: 500px;
    border-radius: 20%;
    border-style: groove;
    border-color: black;
    padding: 0.5%;
  }

.imageninst img {

    width: 300px;
    border-radius: 10%;
    border-style: double;
    }

.maps {
    padding: 0.4%;
    display: flex;
    align-self: center;
 }

h3 {
    text-align: center; 
    font-size: 90%;
    text-decoration: underline; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;}



.lista1 {
    font-weight: bold;
    font-size: 100%;
 }

.lista2 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-style: italic;
    font-size: 100%;}

.logowppfix img{
    width: 200px;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 80%;
}


.video {
    display: flex;
    justify-content: center;
    
}


.audio {
    display: flex;
    justify-content: center;
     
 }

 .audio audio {
    display: flex;
    align-self: center;
    height:30px;
    width: 300px;

 }

 .parrafohistoria  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(88, 88, 88, 0.301); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    border-radius: 5%;
    text-align: center;
    font-size: 85%;
  }

.enlaces {  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: hwb(64 0% 0% / 0.678);
    padding: 0.5%;
    font-size: 120%;
    text-align: center;
  }     

  .enlaces img {
    display: flex;
    justify-content: space-between;
    width: 200px;
    border-radius: 20%;
    padding: 3%;
  }


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.733);
    }

.datosweb {
    display: flex;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 150%;
}